body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #1E1E1E;
    width: 95%;
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #1E1E1E;
    background-color: #ffffff;
}

input:hover {
    outline: none;
    border-color: #1E1E1E;
    background-color: #ffffff;
}

.btn-primary {
    background-color: #1E1E1E;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 96%;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #333;
    border-color: #333;
}

.register-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}

a {
    color: #007BFF;
    text-decoration: underline;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}
